@charset 'utf-8';
/*字符编码格式*/
/*css reset*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0;}
/*
	通配符*表示选中页面中所有的标签。
*/
body{font-size:16px;font-family: '微软雅黑';}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
a,u{text-decoration: none;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
input{outline:none;}
img{display:block;}
.clearfix:after{content:'.';clear:both;display:block;height:0;overflow:hidden;visibility: hidden;}