$color: #fff;
$width:372px;
$height:300px;
// 默认变量:!default  全局变量:!global
$font-size: 16px !default;
$direction:top;
$icons:success error warning;

border{
	color: $color;
	font-size: $font-size;
	border-#{$direction}:1px solid #ccc;
}
h2{
	font-size:$font-size;
}

.con{
	width:200px;
	height:100px;
	li{
		width:50px;
	}
	a{
		color:#ccc;
	}
	&:hover{
		a{
			color:orange;
		}
	}
}

@each $icon in $icons {
	.icon-#{$icon}{
		background:url(../images/#{$icon}.jpg) no-repeat;
	}
}

#content{
	width:$width;
	height:$height;
}